<main class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title">Editar clave {{oldKey.line + oldKey.code}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 pb-xl-5">
            <div class="form-group input-group">
                <input type="text" class="form-control col-2" [value]="oldKey.line" [title]="oldKey.line" disabled />
                <input type="text" class="form-control col-2" [value]="oldKey.code" [title]="oldKey.code" disabled />
                <input type="text" class="form-control col-8" [value]="oldKey.desc" [title]="oldKey.desc" disabled />
            </div>
            <swiper *ngIf="oldKey.image?.length > 0" class="swiper-container" [config]="config">
                <div *ngFor="let image of oldKey.image" class="swiper-slide">
                    <img [src]="image.img" title="Image N° {{image.idN}}" alt="Image N° {{image.idN}}">
                </div>
            </swiper>
        </div>
        <form class="col-lg-6 key" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group input-group">
                <input #line type="text" class="form-control col-2" name="line" [(ngModel)]="newKey.line" maxlength="6"
                    autocomplete="off" spellcheck="false" autocorrect="off" [ngbTypeahead]="search"
                    oninput="this.value = this.value.toUpperCase()" placeholder="Línea" />
                <input #code type="text" class="form-control col-2" name="code" [(ngModel)]="newKey.code" maxlength="4"
                    oninput="this.value = this.value.toUpperCase()" autocomplete="off" spellcheck="false"
                    autocorrect="off" placeholder="Código" />
                <input type="text" class="form-control col-8" name="desc" [(ngModel)]="newKey.desc"
                    placeholder="Descripción" />
            </div>
            <button type="submit" class="form-group btn btn-primary btn-block">Actualizar clave</button>
            <div class="form-group input-group">
                <select #select class="form-control col-3 custom-select" name="status" [(ngModel)]="status">
                    <option [value]="undefined">Vacio</option>
                    <option value="1">Encontrada</option>
                    <option value="2">Fotografiada</option>
                    <option value="3">Preditada</option>
                    <option value="4">Editada</option>
                </select>
                <button type="button" class="form-control btn btn-secondary btn-block" (click)="resetImages()">
                    Reiniciar Imágenes
                </button>
            </div>
        </form>
    </div>
</main>