<main class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="title">Editar clave {{oldKey.line + oldKey.code}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group input-group">
                <input type="text" class="form-control col-2" [value]="oldKey.line" [title]="oldKey.line" disabled />
                <input type="text" class="form-control col-2" [value]="oldKey.code" [title]="oldKey.code" disabled />
                <input type="text" class="form-control col-8" [value]="oldKey.desc" [title]="oldKey.desc" disabled />
            </div>
            <swiper class="swiper-container" [config]="config">
                <div *ngFor="let image of oldKey.image" class="swiper-slide">
                    <img [src]="image.img" title="Image N° {{image.idN}}" alt="Image N° {{image.idN}}">
                </div>
            </swiper>
        </div>
        <div class="col-lg-6 key">
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                <div class="form-group input-group">
                    <input type="text" class="form-control col-2" name="Nline" [(ngModel)]="newKey.line"
                        placeholder="Línea" />
                    <input type="text" class="form-control col-2" name="Ncode" [(ngModel)]="newKey.code"
                        placeholder="Código" />
                    <input type="text" class="form-control col-8" name="Ndesc" [(ngModel)]="newKey.desc"
                        placeholder="Descripción" />
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Actualizar clave</button>
            </form>
        </div>
    </div>
</main>