<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Config {{codeImageModal}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <button class="form-control btn btn-outline-secondary" (click)="editKey()">Editar</button>
        </div>
        <div class="form-group">
            <button class="form-control btn btn-outline-danger" (click)="confirmDisplay(confirm)">Eliminar</button>
        </div>
        <div #confirm class="d-none">
            <div class="row">
                <div class="col-6">
                    <div class="pretty p-icon p-toggle p-plain">
                        <input #k1 type="checkbox" (click)="clench(k1, k2, lock)" />
                        <div class="state p-on">
                            <i class="fas fa-lock-open"></i>
                            <label>Unlocked</label>
                        </div>
                        <div class="state p-off">
                            <i class="fas fa-lock"></i>
                            <label>Locked</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pretty p-icon p-toggle p-plain">
                        <input #k2 type="checkbox" (click)="clench(k1, k2, lock)" />
                        <div class="state p-on">
                            <i class="fas fa-lock-open"></i>
                            <label>Unlocked</label>
                        </div>
                        <div class="state p-off">
                            <i class="fas fa-lock"></i>
                            <label>Locked</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button #lock class="form-control btn btn-danger" (click)="confirmDeleteKey()" disabled>
                    Confirmar eliminar
                </button>
            </div>
        </div>
    </div>
    <div class=" modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
    </div>
</ng-template>
<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{codeImageModal}} id {{imageId}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <button class="form-control btn btn-outline-secondary" (click)="editImg()">Editar</button>
        </div>
        <div class="form-group">
            <button class="form-control btn btn-outline-danger" (click)="confirmDisplay(confirm)">Eliminar</button>
        </div>
        <div #confirm class="d-none">
            <div class="row">
                <div class="col-6">
                    <div class="pretty p-icon p-toggle p-plain">
                        <input #k1 type="checkbox" (click)="clench(k1, k2, lock)" />
                        <div class="state p-on">
                            <i class="fas fa-lock-open"></i>
                            <label>Unlocked</label>
                        </div>
                        <div class="state p-off">
                            <i class="fas fa-lock"></i>
                            <label>Locked</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pretty p-icon p-toggle p-plain">
                        <input #k2 type="checkbox" (click)="clench(k1, k2, lock)" />
                        <div class="state p-on">
                            <i class="fas fa-lock-open"></i>
                            <label>Unlocked</label>
                        </div>
                        <div class="state p-off">
                            <i class="fas fa-lock"></i>
                            <label>Locked</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button #lock class="form-control btn btn-danger" (click)="confirmDeleteImg()" disabled>
                    Confirmar eliminar
                </button>
            </div>
        </div>
    </div>
    <div class=" modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
    </div>
</ng-template>
<ng-template #showModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Clave {{codeImageModal}}</h4>
    </div>
    <div class="modal-body">
        <swiper class="swiper-container" [config]="config">
            <div *ngFor="let image of showImage" class="swiper-slide">
                <img [src]="image.img" title="Image N° {{image.idN}}" alt="Image N° {{image.idN}}"
                    (click)="configImg(image.idN)">
            </div>
        </swiper>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>
<ng-template #imageModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Clave {{codeImageModal}} - Image {{nImage}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form (ngSubmit)="onSubmitImage(file.files[0], warning, danger, success, submit)" class="col-6">
                <div class="form-group">
                    <input #file type="file" accept='image/*' (change)="preview(file.files);" />
                </div>
                <div class="form-group">
                    <div #warning class="alert alert-warning alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(warning)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Ten cuidado!</strong> No se ha insertado imagen alguna.
                    </div>
                    <div #danger class="alert alert-danger alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(danger)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Esto es malo!</strong> Error en servidor.
                    </div>
                    <div #success class="alert alert-success alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(success)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Excelente!</strong> La imagen se ha subido
                    </div>
                    <button #submit type="submit" class="btn btn-info btn-block">Charge Image</button>
                </div>
            </form>
            <div class="col-6">
                <img [src]="imageSrc" width="100%" *ngIf="imageSrc">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="resimageModal ? modal.close() : false">Cerrar</button>
    </div>
</ng-template>
<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <h2>John D.</h2>
    </header>
    <ul>
        <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
        <li tabindex="0" class="icon-customers"><span>Customers</span></li>
        <li tabindex="0" class="icon-users"><span>Users</span></li>
        <li tabindex="0" class="icon-settings"><span>Settings</span></li>
    </ul>
</nav>
<nav class="menu-right" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScrollLine(searchLine)"
    [scrollWindow]="false">
    <input #searchLine type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
        placeholder="Linea...">
    <span class="container">Total: {{LinesInfo.totalDocs}}</span>
    <ul class="search-results">
        <li #every>Todas</li>
        <li #lines *ngFor="let line of Lines" [id]="line._id">
            {{line._id}}
            <span>{{line.name}}</span>
        </li>
        <li #waitLine class="text-center" style="cursor: wait;">
            <img src="../../../assets/image/wait5.gif" alt="Wait Line" height="100">
        </li>
        <li #ifExistLine class="d-none">No existe línea</li>
    </ul>
</nav>
<main class="container">
    <table class="table table-fit">
        <thead>
            <tr>
                <th>
                    <span #icon class="icon"><i class="fa fa-search"></i></span>
                    <input #search type="search" id="search" oninput="this.value = this.value.toUpperCase()"
                        placeholder="Search..." />
                </th>
                <th>Registros</th>
                <th>Registros</th>
            </tr>
        </thead>
        <tbody #tbody infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScrollKey()" [scrollWindow]="false">
            <tr #tr *ngFor="let key of Keys" [id]="key._id">
                <td width="34" class="buttons">
                    <button *ngIf="allowed()" type="button" id="config" class="btn btn-primary btn-sm">
                        <i class="fas fa-cogs"></i>
                    </button>
                    <button *ngIf="!allowed()" type="button" class="btn btn-primary btn-sm">
                        <i class="fas fa-sticky-note"></i>
                    </button>
                </td>
                <td width="130">{{key.line}}{{key.code}}</td>
                <td width="250">
                    <div class="input-group">
                        <span title="Ver imagen" name="images">
                            <div class="case">[<i class="fas fa-circle"></i>]</div>
                        </span>
                        <select class="form-control btn-sm {{statusClass(statusImage(key.image, 0))}}" name="0"
                            [value]="statusImage(key.image, 0)" [disabled]="disabledImage(statusImage(key.image, 0))">
                            <option value="" class="white"></option>
                            <option value="0" class="white">0</option>
                            <option value="1" class="gray">1</option>
                            <option value="2" class="brown">2</option>
                            <option value="3" class="blue">3</option>
                            <option value="4" class="purple">4</option>
                            <option value="5" class="green">5</option>
                        </select>
                        <select class="form-control btn-sm {{statusClass(statusImage(key.image, 1))}}" name="1"
                            [value]="statusImage(key.image, 1)" [disabled]="disabledImage(statusImage(key.image, 1))">
                            <option value="" class="white"></option>
                            <option value="0" class="white">0</option>
                            <option value="1" class="gray">1</option>
                            <option value="2" class="brown">2</option>
                            <option value="3" class="blue">3</option>
                            <option value="4" class="purple">4</option>
                            <option value="5" class="green">5</option>
                        </select>
                        <select class="form-control btn-sm {{statusClass(statusImage(key.image, 2))}}" name="2"
                            [value]="statusImage(key.image, 2)" [disabled]="disabledImage(statusImage(key.image, 2))">
                            <option value="" class="white"></option>
                            <option value="0" class="white">0</option>
                            <option value="1" class="gray">1</option>
                            <option value="2" class="brown">2</option>
                            <option value="3" class="blue">3</option>
                            <option value="4" class="purple">4</option>
                            <option value="5" class="green">5</option>
                        </select>
                    </div>
                </td>
                <td>{{key.desc}}</td>
            </tr>
            <tr #waitKey class="d-none" style="cursor: wait;">
                <td class="text-center">
                    <img src="../../../assets/image/wait2.gif" alt="Wait Key" height="100">
                </td>
            </tr>
            <tr #ifExistKey class="d-none">
                <td ngNonBindable>{{ No existe Clave }}</td>
            </tr>
    </table>
</main>