body {
  background: #ffea92;
  margin: 0;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
  padding-left: 240px;
}

main {
  height: 90vh;
}

@keyframes streach {
  from {
    width: 0px;
  }
  to {
    width: max;
  }
}

.table-fit {
  tbody {
    display: block;
    height: 80vh;
    overflow: auto;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    min-width: 850px;
    table-layout: fixed;
    overflow: hidden;

    th {
      #search {
        border-radius: 25px;
        padding: 10px;
        width: 200px;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        color: black;
      }

      input {
        visibility: none;
        display: none;
      }

      .search-anim {
        display: inline;
        animation-name: streach;
        animation-duration: 1s;
      }
    }

    .infoStatus {
      white-space: nowrap;
      width: 100%;
      min-width: 330px;
      max-width: 400px;
    }

    td {
      white-space: nowrap;
      span {
        background: rgb(122, 122, 122);
        padding: 2.5px 5px;
        height: 35px;
        font-size: 20px;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;

        .case {
          margin-top: -3px;
          i {
            color: #000;
            font-size: 15px;
          }
        }

        &:hover {
          background: rgb(172, 170, 170);
        }

        &:hover .case {
          color: #fff;
        }

        &:active {
          background: rgb(88, 88, 88);
        }
      }
    }

    .buttons {
      padding: 10px 0px 10px 3px;
    }

    .white {
      color: black;
      background-color: white;
    }

    .gray {
      color: white;
      background-color: gray;
    }

    .brown {
      color: white;
      background-color: brown;
    }

    .blue {
      color: white;
      background-color: blue;
    }

    .purple {
      color: white;
      background-color: purple;
    }

    .green {
      color: white;
      background-color: green;
    }
  }

  .show {
    background-color: rgb(138, 0, 0);
    border-radius: 0px 0px 15px 15px;
    text-align: center;

    td {
      font-size: 23px;
      color: #fff;
    }

    &:hover td {
      color: rgb(206, 206, 206);
    }
  }

  thead {
    width: calc(100% - 1em);
  }

  table {
    width: 400px;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  .swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 424.8px !important;
    height: 300px !important;

    img {
      width: 424.8px;
      height: 300px;
    }
  }
}
