<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Config {{codeImageModal}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <button class="form-control btn btn-outline-secondary" (click)="editKey()">Editar</button>
        </div>
        <div class="form-group">
            <button class="form-control btn btn-outline-danger" (click)="confirmDisplay(confirm)">Eliminar</button>
        </div>
        <div #confirm class="d-none">
            <div class="row">
                <div class="col-6 text-right">
                    <div class="pretty p-icon p-toggle p-plain">
                        <input #k1 type="checkbox" (click)="clench(k1, k2, lock)" />
                        <div class="state p-on">
                            <i class="fas fa-lock-open"></i>
                            <label>Unlocked</label>
                        </div>
                        <div class="state p-off">
                            <i class="fas fa-lock"></i>
                            <label>Locked</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pretty p-icon p-toggle p-plain">
                        <input #k2 type="checkbox" (click)="clench(k1, k2, lock)" />
                        <div class="state p-on">
                            <i class="fas fa-lock-open"></i>
                            <label>Unlocked</label>
                        </div>
                        <div class="state p-off">
                            <i class="fas fa-lock"></i>
                            <label>Locked</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button #lock class="form-control btn btn-danger" (click)="confirmDeleteKey()" disabled>
                    Confirmar eliminar
                </button>
            </div>
        </div>
    </div>
    <div class=" modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
    </div>
</ng-template>
<ng-template #confirmModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{codeImageModal}} id {{imageId}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <button class="form-control btn btn-outline-secondary" (click)="editImg()">Editar</button>
        </div>
        <div class="form-group">
            <button class="form-control btn btn-outline-danger" (click)="confirmDisplay(confirm)">Eliminar</button>
        </div>
        <div #confirm class="d-none">
            <div class="row">
                <div class="col-6 text-right">
                    <div class="pretty p-icon p-toggle p-plain">
                        <input #k1 type="checkbox" (click)="clench(k1, k2, lock)" />
                        <div class="state p-on">
                            <i class="fas fa-lock-open"></i>
                            <label>Unlocked</label>
                        </div>
                        <div class="state p-off">
                            <i class="fas fa-lock"></i>
                            <label>Locked</label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="pretty p-icon p-toggle p-plain">
                        <input #k2 type="checkbox" (click)="clench(k1, k2, lock)" />
                        <div class="state p-on">
                            <i class="fas fa-lock-open"></i>
                            <label>Unlocked</label>
                        </div>
                        <div class="state p-off">
                            <i class="fas fa-lock"></i>
                            <label>Locked</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button #lock class="form-control btn btn-danger" (click)="confirmDeleteImg()" disabled>
                    Confirmar eliminar
                </button>
            </div>
        </div>
    </div>
    <div class=" modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
    </div>
</ng-template>
<ng-template #showModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Clave {{codeImageModal}}</h4>
    </div>
    <div class="modal-body">
        <swiper class="swiper-container" [config]="config">
            <div *ngFor="let image of showImage" class="swiper-slide">
                <img [src]="image.img" title="Image N° {{image.idN}}" alt="Image N° {{image.idN}}"
                    (click)="configImg(image.idN)">
            </div>
        </swiper>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>
<ng-template #imageModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Clave {{codeImageModal}} - Image {{nImage}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form (ngSubmit)="onSubmitImage(file.files[0], warning, danger, success, submit)" class="col-6">
                <div class="form-group">
                    <input #file type="file" accept='image/*' (change)="preview(file.files);" />
                </div>
                <div class="form-group">
                    <div #warning class="alert alert-warning alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(warning)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Ten cuidado!</strong> No se ha insertado imagen alguna.
                    </div>
                    <div #danger class="alert alert-danger alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(danger)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Esto es malo!</strong> Error en servidor.
                    </div>
                    <div #success class="alert alert-success alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(success)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Excelente!</strong> La imagen se ha subido
                    </div>
                    <button #submit type="submit" class="btn btn-info btn-block">Charge Image</button>
                </div>
            </form>
            <div class="col-6">
                <img [src]="imageSrc" width="100%" *ngIf="imageSrc">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="resimageModal ? modal.close() : false">Cerrar</button>
    </div>
</ng-template>
<nav #menu_search class="menu">
    <div class="smartphone-menu-trigger" (click)="hideMenu(menu_search)"></div>
    <input #searchLine type="search" class="form-control" oninput="this.value = this.value.toUpperCase()"
        autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Linea...">
    <span class="container">Total: {{LinesInfo.totalDocs}}</span>
    <ul infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScrollLine(searchLine)" [scrollWindow]="false">
        <li #every>Todas</li>
        <li *ngFor="let line of Lines" (click)="clickLine(line.identifier)">
            {{line.identifier}}
            <span>{{line.name}}</span>
        </li>
        <li #waitLine class="text-center">
            <img src="../../../assets/image/wait5.gif" alt="Wait Line" height="100">
        </li>
        <li #ifExistLine class="d-none">No existe línea</li>
    </ul>
</nav>
<main class="container">
    <table class="table table-fit">
        <thead>
            <tr>
                <th width="240">
                    <span #icon class="icon"><i class="fa fa-search"></i></span>
                    <input #search type="search" id="search" oninput="this.value = this.value.toUpperCase()"
                        autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Search..." />
                </th>
                <th width="150">Σ [{{KeysInfo.totalDocs | number}}]</th>
                <th width="120"><i class="fas fa-file-image"></i> [{{KeysInfo.percentage | number : '1.2-2'}}%]</th>
                <th class="infoStatus">
                    <span><i class="fas fa-exclamation-triangle"></i> [{{KeysInfo.status.white}}]</span>&nbsp;
                    <span style="color: gray;"><i class="fas fa-list-alt"></i> [{{KeysInfo.status.gray}}]</span>&nbsp;
                    <span style="color: brown;">
                        <i class="fas fa-camera-retro"></i>
                        [{{KeysInfo.status.brown}}]
                    </span>&nbsp;
                    <span style="color: blue;"><i class="fas fa-expand"></i> [{{KeysInfo.status.blue}}]</span>&nbsp;
                    <span style="color: purple;"><i class="fas fa-edit"></i> [{{KeysInfo.status.purple}}]</span>&nbsp;
                    <span style="color: green;"><i class="fas fa-save"></i> [{{KeysInfo.status.green}}]</span>&nbsp;
                </th>
            </tr>
        </thead>
        <tbody infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScrollKey()" [scrollWindow]="false">
            <tr #tr *ngFor="let key of Keys" [id]="key._id">
                <td width="34" class="buttons">
                    <button *ngIf="allowed()" type="button" class="btn btn-primary btn-sm"
                        (click)="clickConfig(key._id, LineCode.textContent)">
                        <i class="fas fa-cogs"></i>
                    </button>
                    <button *ngIf="!allowed()" type="button" class="btn btn-primary btn-sm">
                        <i class="fas fa-sticky-note"></i>
                    </button>
                </td>
                <td #LineCode width="130">{{key.line + key.code}}</td>
                <td width="250">
                    <div class="input-group">
                        <span title="Ver imagen" name="images" (click)="clickSpan(key._id)">
                            <div class="case">[<i class="fas fa-circle"></i>]</div>
                        </span>
                        <select #select0 class="form-control btn-sm {{statusClass(statusImage(key.image, 1))}}" name="1"
                            [value]="statusImage(key.image, 1)" [disabled]="disabledImage(statusImage(key.image, 1))"
                            (focus)="focusSelect(select0)" (change)="changeSelect(select0, key._id)"
                            (blur)="blurSelect(select0, key._id, LineCode.textContent)">
                            <option value="" class="white"></option>
                            <option value="0" class="white">0</option>
                            <option value="1" class="gray">1</option>
                            <option value="2" class="brown">2</option>
                            <option value="3" class="blue">3</option>
                            <option value="4" class="purple">4</option>
                            <option value="5" class="green">5</option>
                        </select>
                        <select #select1 class="form-control btn-sm {{statusClass(statusImage(key.image, 2))}}" name="2"
                            [value]="statusImage(key.image, 2)" [disabled]="disabledImage(statusImage(key.image, 2))"
                            (focus)="focusSelect(select1)" (change)="changeSelect(select1, key._id)"
                            (blur)="blurSelect(select1, key._id, LineCode.textContent)">
                            <option value="" class="white"></option>
                            <option value="0" class="white">0</option>
                            <option value="1" class="gray">1</option>
                            <option value="2" class="brown">2</option>
                            <option value="3" class="blue">3</option>
                            <option value="4" class="purple">4</option>
                            <option value="5" class="green">5</option>
                        </select>
                        <select #select2 class="form-control btn-sm {{statusClass(statusImage(key.image, 3))}}" name="3"
                            [value]="statusImage(key.image, 3)" [disabled]="disabledImage(statusImage(key.image, 3))"
                            (focus)="focusSelect(select2)" (change)="changeSelect(select2, key._id)"
                            (blur)="blurSelect(select2, key._id, LineCode.textContent)">
                            <option value="" class="white"></option>
                            <option value="0" class="white">0</option>
                            <option value="1" class="gray">1</option>
                            <option value="2" class="brown">2</option>
                            <option value="3" class="blue">3</option>
                            <option value="4" class="purple">4</option>
                            <option value="5" class="green">5</option>
                        </select>
                    </div>
                </td>
                <td>{{key.desc}}</td>
            </tr>
            <tr #waitKey class="d-none">
                <td class="text-center">
                    <img src="../../../assets/image/wait2.gif" alt="Wait Key" height="100">
                </td>
            </tr>
            <tr #ifExistKey class="d-none">
                <td ngNonBindable>{{ No existe Clave }}</td>
            </tr>
    </table>
</main>