<ng-template #showModal id="showModal" let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Clave {{codeImageModal}}</h4>
    </div>
    <div class="modal-body">
        <swiper class="swiper-container" [config]="config">
            <div *ngFor="let slide of slides" class="swiper-slide">
                <img [src]="slide" alt="">
            </div>
        </swiper>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cerrar</button>
        <!-- <button type="submit" class="btn btn-primary">Guardar cambios</button> -->
    </div>
</ng-template>
<ng-template #imageModal id="imageModal" let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Clave {{codeImageModal}} - Image {{nImage}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form (ngSubmit)="onSubmitImage(file.files[0], warning, danger, success, submit)" class="col-6">
                <div class="form-group">
                    <input #file type="file" accept='image/*' (change)="preview(file.files);" />
                </div>
                <div class="form-group">
                    <div #warning class="alert alert-warning alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(warning)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Ten cuidado!</strong> No se ha insertado imagen alguna.
                    </div>
                    <div #danger class="alert alert-danger alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(danger)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Esto es malo!</strong> Error en servidor.
                    </div>
                    <div #success class="alert alert-success alert-dismissible fade show d-none" role="alert">
                        <button type="button" class="close" aria-label="Close" (click)="closeAlert(success)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>¡Excelente!</strong> La imagen se ha subido
                    </div>
                    <button #submit type="submit" class="btn btn-info btn-block">Charge Image</button>
                </div>
            </form>
            <div class="col-6">
                <img [src]="imageSrc" width="100%" *ngIf="imageSrc">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="resImgMod ? modal.close() : false">Cerrar</button>
        <!-- <button type="submit" class="btn btn-primary">Guardar cambios</button> -->
    </div>
</ng-template>
<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <!-- <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" /> -->
        <h2>John D.</h2>
    </header>
    <ul>
        <li tabindex="0" class="icon-dashboard"><span>Dashboard</span></li>
        <li tabindex="0" class="icon-customers"><span>Customers</span></li>
        <li tabindex="0" class="icon-users"><span>Users</span></li>
        <li tabindex="0" class="icon-settings"><span>Settings</span></li>
    </ul>
</nav>
<nav class="menu-right">
    <ul>
        <li>Todas</li>
        <li *ngFor="let line of Lines;" data-tooltip="Aumento de resorte" data-tooltip-location="bottom">{{line._id}}
            <span>{{line.name}}</span>
        </li>
    </ul>
</nav>
<main class="container">
    <div class="container">
        <table class="table table-fit">
            <thead>
                <tr>
                    <th>Registros</th>
                    <th>Registros</th>
                    <th>Registros</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let key of Keys; let index = index; let ultimo = last;" [id]="key._id">
                    <td width="40"><input type="checkbox" class="form-control"></td>
                    <td width="130">{{key.line}}{{key.code}}</td>
                    <td width="250">
                        <div class="input-group">
                            <span name="images">
                                <div class="case">[<i class="fas fa-circle"></i>]</div>
                            </span>
                            <select class="form-control {{statusClass(statusImage(key.image, 0))}}" name="0"
                                [value]="statusImage(key.image, 0)"
                                [disabled]="disabledImage(statusImage(key.image, 0))">
                                <option value="" class="white"></option>
                                <option value="0" class="white">0</option>
                                <option value="1" class="gray">1</option>
                                <option value="2" class="brown">2</option>
                                <option value="3" class="blue">3</option>
                                <option value="4" class="purple">4</option>
                                <option value="5" class="green">5</option>
                            </select>
                            <select class="form-control {{statusClass(statusImage(key.image, 1))}}" name="1"
                                [value]="statusImage(key.image, 1)"
                                [disabled]="disabledImage(statusImage(key.image, 1))">
                                <option value="" class="white"></option>
                                <option value="0" class="white">0</option>
                                <option value="1" class="gray">1</option>
                                <option value="2" class="brown">2</option>
                                <option value="3" class="blue">3</option>
                                <option value="4" class="purple">4</option>
                                <option value="5" class="green">5</option>
                            </select>
                            <select class="form-control {{statusClass(statusImage(key.image, 2))}}" name="2"
                                [value]="statusImage(key.image, 2)"
                                [disabled]="disabledImage(statusImage(key.image, 2))">
                                <option value="" class="white"></option>
                                <option value="0" class="white">0</option>
                                <option value="1" class="gray">1</option>
                                <option value="2" class="brown">2</option>
                                <option value="3" class="blue">3</option>
                                <option value="4" class="purple">4</option>
                                <option value="5" class="green">5</option>
                            </select>
                        </div>
                    </td>
                    <td>{{key.desc}}</td>
                    {{onLoad(ultimo)}}
                </tr>
            </tbody>
        </table>
    </div>
</main>