<div class="sidenav">
    <div class="login-main-text">
        <h2>Aplicación para consultas<br>y almacenaje de productos</h2>
        <p>Introduce tu usuario asignado con la respectiva clave</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form autocomplete="off">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-black">Entrar</button>
            </form>
        </div>
    </div>
</div>