<div class="sidenav">
    <div class="login-main-text">
        <h2>Aplicación para consultas<br>y almacenaje de productos</h2>
        <p>Introduce tu usuario asignado con la respectiva clave</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm" autocomplete="off">
                <div class="form-group">
                    <label>Usuario</label>
                    <input type="text" class="form-control" name="nickname" #nickname="ngModel" autocomplete="off"
                        readonly onfocus="this.removeAttribute('readonly');" placeholder="Nick usuario"
                        [(ngModel)]="user.nickname">
                </div>
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" class="form-control" name="password" #password="ngModel" autocomplete="off"
                        readonly onfocus="this.removeAttribute('readonly');" placeholder="Contraseña"
                        [(ngModel)]="user.password">
                </div>
                <button type="submit" class="btn btn-black" [disabled]="!userForm.form.valid">Entrar</button>
                <ngb-alert *ngIf="!status" type="danger" [dismissible]="false">
                    <strong>¡Error!</strong> No se ha podido ingresar
                </ngb-alert>
            </form>
        </div>
    </div>
</div>