main {
  top: 80px;
}

.keys {
  height: 75vh;
  overflow: auto;
}

.err {
  color: #fff;
  .card-header {
    background-color: rgb(165, 0, 0);
  }

  .card-body {
    background-color: #000;
    height: 38vh;
    overflow: auto;

    ul li {
      background-color: inherit;
    }
  }
}
