<ng-template #descModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Descripción para claves aceptadas</h4>
    </div>
    <form (ngSubmit)="onSubmitDesc()" #descForm="ngForm">
        <div class="modal-body">
            <div *ngFor="let k of Key" class="form-group input-group">
                <div class="input-group-append">
                    <div class="input-group-text">
                        {{k.line + k.code}}
                    </div>
                </div>
                <input type="text" class="form-control" name="desc" #desc="ngModel" [(ngModel)]="k.desc" required />
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <div class="pretty p-icon p-toggle">
                            <input type="checkbox" name="config" #config="ngModel" [(ngModel)]="k.config" />
                            <div class="state p-success-o p-on">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="state p-info-o p-off">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="modal.close('cancel')">Cerrar</button>
        </div>
    </form>
</ng-template>
<main class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form (ngSubmit)="onSubmitKey(keyForm, wait, submit)" #keyForm="ngForm" class="container" novalidate>
                <h1 class="title">Creación de nuevas claves</h1>
                <hr>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Clave</div>
                    </div>
                    <input #line type="text" class="form-control col-3" maxlength="6"
                        oninput="this.value = this.value.toUpperCase()" [ngbTypeahead]="search"
                        placeholder="Línea..." />
                    <input #code type="text" class="form-control" oninput="this.value = this.value.toUpperCase()"
                        placeholder="Código..." />
                </div>
                <div class="form-group input-group col-lg-3">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Inicializar Status</label>
                        <select #select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option value="" selected>Vacio</option>
                            <option value="1">Encontrada</option>
                            <option value="2">Fotografiada</option>
                            <option value="3">Preditada</option>
                            <option value="4">Editada</option>
                            <option value="5">Guardada</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <div class="pretty p-default p-thick p-pulse">
                            <input #checkbox type="checkbox" (click)="clickCheckbox(lote)" />
                            <div class="state p-warning-o">
                                <label>Por lotes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <img #wait src="../../../assets/image/wait9.gif" class="d-none" height="37.83" title="Cargando..."
                        alt="Cargando..." style="padding-right: 15px;">
                    <button #submit type="submit" class="btn-info btn">Crear</button>
                </div>
                <div #lote class="form-group input-group d-none">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Desde</div>
                    </div>
                    <input #n1 type="number" class="form-control" (input)="inputNumber()">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Hasta</div>
                    </div>
                    <input #n2 type="number" class="form-control" (input)="inputNumber()">
                    <div #invalid1 class="invalid-feedback order-last d-none">
                        Primer campo está vacío
                    </div>
                    <div #invalid2 class="invalid-feedback order-last d-none">
                        El segundo campo debe ser mayor que el primero
                    </div>
                </div>
                <div *ngIf="Errors.length !== 0" class="container err">
                    <div class="card text-center">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body errors">
                            <ul *ngFor="let err of Errors" class="list-group list-group-flush">
                                <li class="list-group-item">{{err}}</li>
                            </ul>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div *ngIf="Keys.length > 0" class="container">
                <div class="card text-center">
                    <div class="card-header">
                        Claves creadas
                    </div>
                    <div class="card-body keys">
                        <ul *ngFor="let k of Keys" class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{k.line + k.code}}
                                {{k.desc}}
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        Total de {{Keys.length}} claves creadas
                    </div>
                </div>
            </div>
            <div *ngIf="Keys.length === 0" class="container alert alert-dark" role="alert">
                Ninguna clave ha sido creada por el momento
            </div>
        </div>
    </div>
</main>