main {
  top: 80px;
}

.card-body {
  height: auto;
}

.keys {
  max-height: 75vh;
  overflow: auto;
}

.err {
  color: #fff;
  .card-header {
    background-color: rgb(165, 0, 0);
  }

  .card-body {
    background-color: #000;
    max-height: 35vh;
    overflow: auto;

    ul li {
      background-color: inherit;
      border-bottom: solid thin #fff;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
