<nav #menu class="menu" tabindex="0">
    <div class="smartphone-menu-trigger" (click)="hideMenu(menu)"></div>
    <input #searchLine type="search" class="form-control" oninput="this.value = this.value.toUpperCase()"
        autocomplete="off" spellcheck="false" autocorrect="off" placeholder="Linea...">
    <span class="container">Total: </span>
    <ul class="search-results">
        <li #every>Todas</li>
        <li (click)="false">
            Linea
            <span>Detalle</span>
        </li>
        <li #waitLine class="text-center">
            <img src="../../../assets/image/wait5.gif" alt="Wait Line" height="100">
        </li>
        <li #ifExistLine class="d-none">No existe línea</li>
    </ul>
</nav>